<div id="header">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 col-sm-offset-9 col-md-2 col-md-offset-10">
        {{#if controllers.currentUser.isSignedIn}}
          <!--Logged in as {{controllers.currentUser.email}}-->
          {{#link-to 'sessions.destroy'}}Logout{{/link-to}}
        {{else}}
          {{#link-to 'users.new'}}Sign Up{{/link-to}} |
          {{#link-to 'sessions.new'}}Login{{/link-to}}
        {{/if}}
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row body">
    {{outlet}}
  </div>
</div>
