{{#if controllers.currentUser.isSignedIn}}
  Logged in as {{controllers.currentUser.email}}
  {{#link-to 'sessions.destroy'}}Logout{{/link-to}}
{{else}}
  {{#link-to 'users.new'}}Sign Up{{/link-to}} |
  {{#link-to 'sessions.new'}}Login{{/link-to}}
{{/if}}

<span {{action 'test'}}>asdfasdf</span>
{{outlet}}
